@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

.hero{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6), url(../media/terynmheadshot.png));
}